{% extends 'vendor/carew/theme-bootstrap/layouts/default.html.twig' %}

{% block stylesheets %}
{% spaceless %}
    <link rel="stylesheet" href="{{ carew.relativeRoot }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ carew.relativeRoot }}/css/dop-dop-dop.css">
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/xcode.min.css">
{% endspaceless %}
{% endblock %}

{% block content_header %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ carew.relativeRoot }}">{{ carew.site.title|default('') }}</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% block nav_left %}
                        {% if carew.navigations.main is defined %}
                            {% for document in carew.navigations.main %}
                                <li{% if document.path == carew.currentPath %} class="active"{% endif %}><a href="{{ render_document_path(document) }}">{{ render_document_title(document) }}</a></li>
                            {% endfor %}
                        {% endif %}
                    {% endblock %}
                </ul>
                {% block nav_right '' %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-47822314-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
{% endblock %}
