{% extends 'layouts/post.html.twig' %}

{% block site_title %}{{ carew.posts|last }}{% endblock %}

{% block post_title %}{{ carew.posts|last }}{% endblock %}
{% block post_date %}{{ (carew.posts|last).metadatas.date|date('d/m/Y') }}{% endblock %}

{% block post_tags %}
{% for tag in (carew.posts|last).tags %}
<a class="button" href="{{ path('tags/'~tag) }}">{{ tag|title }}</a>
{% endfor %}
{% endblock %}

{% block article_footer %}
    <nav class="row">
        {% set previous = previous_document(carew.posts, carew.posts|last) %}
        {% if previous %}
        <a class="six columns button" href="{{ render_document_path(previous) }}">Previous: {{ previous.title }}</a>
        {% endif %}
    </nav>
{% endblock %}
