<article>
    <header>
    <header>

    {{ carew.document.body|raw }}

    <footer>
        <nav>
            {% set previous = previous_document(carew.posts, carew.document) %}
            {% if previous %}
            <div class="col-md-6">
                <a class="btn btn-lg btn-default btn-block" href="{{ render_document_path(previous) }}" role="button">Previous: {{ previous.title }}</a>
            </div>
            {% endif %}

            {% set next = next_document(carew.posts, carew.document) %}
            {% if next %}
            <div class="col-md-6">
               <a class="btn btn-lg btn-default btn-block" href="{{ render_document_path(next) }}" role="button">Next: {{ next.title }}</a>
            </div>
            {% endif %}
        </nav>


            <nav>
                <a class="button" href="https://twitter.com/epiloic">Twitter</a>
                <a class="button" href="https://github.com/gnugat">Github</a>
                <a href="https://uk.linkedin.com/pub/loïc-faugeron/1a/a92/124">LinkedIn</a>
            </nav>

            <nav>
                <a class="button" href="https://memio.github.io/memio">Memio</a>
                <a class="button" href="https://github.com/memio/spec-gen">SpecGen</a>
                <a class="button" href="https://gnugat.github.io/redaktilo">Redaktilo</a>
                <a class="button" href="https://github.com/gnugat/symfony-empty-edition">Symfony Empty Edition</a>
            </nav>
        </footer>
