<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block site_title %}{{ carew.document.title }}{% endblock %}</title>
    <meta name="description" content="Technical articles about Symfony and TDD">
    <meta name="author" content="Loïc Faugeron">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="{{ carew.site.url_absolute }}/{{ carew.document.path }}"/>
    <link rel="alternate" href="{{ carew.site.url_absolute }}/feed/atom.xml" type="application/atom+xml" title="{{ carew.site.title|default('') }}"/>

    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{ carew.relativeRoot }}/css/normalize.css">
    <link rel="stylesheet" href="{{ carew.relativeRoot }}/css/skeleton.css">
    <link rel="stylesheet" href="{{ carew.relativeRoot }}/css/dop-dop-dop.css">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/highlight.js/8.8.0/styles/monokai_sublime.min.css">
</head>
<body>
    <div class="container">
        <header class="title">
            <h1>
                <a href="{{ path(carew.pages['pages/index.md']) }}">Loïc Faugeron</a>
                <span class="sub-title">Technical Blog</span>
            </h1>
        </header>

        <article>
            <header>
                {% block page_title %}<h2>{{ carew.document.title }}</h2>{% endblock %}
                {% block article_header %}
                {% endblock %}
            </header>

            {{ carew.document.body|raw }}

            <footer>
                {% block article_footer %}
                {% endblock %}
                <hr />
            </footer>
        </article>

        <footer>
            <nav class="row">
                <a class="button three columns" href="{{ path(carew.pages['pages/about.md']) }}">About</a>
                <a class="button three columns" href="{{ path(carew.pages['pages/archive.md']) }}">Archive</a>
                <a class="button three columns" href="{{ carew.site.url_absolute }}/feed/atom.xml">RSS</a>
                <a class="button three columns" href="https://github.com/gnugat/gnugat.github.io/tree/master/_carew">Sources</a>
            </nav>
        </footer>
    </div>

    <script src="http://cdn.jsdelivr.net/highlight.js/8.8.0/highlight.min.js"></script>
    <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-47822314-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
